.wrapper {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

div {
  margin: 0.5rem 1.5rem;
}

.border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

button {
  background-color: rgb(148, 148, 224);
  padding: 4px;
  font-size: 12px;
  font-weight: 600;
  color: white;
  border-radius: 3px;
  border-color: 2px solid rgb(148, 148, 224);
}

.welcome {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
  font-weight: 600;
}

.nav-links {
  text-align: center;
}

a {
  text-decoration: none;
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(148, 148, 224);
}

.open {
  display: flex;
}

.close {
  display: none;
}

.burger {
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(148, 148, 224);
  background-color: white;
  z-index: 999;
  position: absolute;
  top: 100%;
  right: 0;
  margin-right: 0;
}
