.Header {
  background: #6927ff;
}

.Header__Container {
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem 1.5rem;
}

.Header__Title {
  margin: 0;

  & a {
    color: white;
    text-decoration: none;
  }
}
