.header {
  background: #6927ff;
}

.header__container {
  padding: 1rem 1rem;
}

.header__container__title {
  margin: 0;
}

.header__container__title__link {
  color: white;
  text-decoration: none;
}
